.weather-app {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 150px;

    &__input {
    width: 450px;
    height: 50px;
    }

    &__search-button {
    width: 100px;
    height: 54px;
    margin-left: 10px;
    }
  }
}