.weather-app {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 150px;
    

    &__input {
    width: 450px;
    height: 34px;
    padding: 15px;
    font-size: 20px;
    }

    &__search-button {
    width: 100px;
    height: 64px;
    margin-left: 10px;
    background-color: #2D74CB;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 25px;
    color: #ffffff; 

    &:hover {
      background-color: #ffffff;
      cursor: pointer;  
      color: #2D74CB;
    }
    }
  }
}