.weather-app {
  &__city-block {
    padding: 10px 50px 10px 50px;
    width: 700px;
    height: 650px;
    border: 1px solid #C4C4C4;
    overflow: auto;
  } 
}

.city-list {
  &__city {
    width: 670px;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    margin: 40px 0 40px 0;
    padding-right: 16px;
    border: 1px solid #C4C4C4;

    &:hover {
      background-color: #F2F4FC;
    }
  }

  .city {
    &__span-city {
      width: 370px;
      padding: 5px;
      margin-right: 100px;
      cursor: pointer;
    }
    &__span-temperature {
      padding: 5px;
      width: 130px;
    }
    &__img-remove-button {
      width: 20px;
      opacity: 0.2;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}