.weather-app {
  &__city-block {
    padding: 10px 50px 10px 50px;
    width: 700px;
    height: 650px;
    border: 1px solid black;
    overflow: auto;
  } 
}

.city-list {
  &__city {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    margin: 40px 0 40px 0;
  }

  .city {
    &__span-city {
      border: 1px solid #C4C4C4;
      width: 450px;
      padding: 5px;
    }
    &__span-temperature {
      padding: 5px;
      border: 1px solid #C4C4C4;
      width: 130px;
    }
    &__img-remove-button {
      width: 20px;
    }
  }
}